.App {
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 10px;
  margin-top:30px;
  text-align: center;
}

.flx {
  display: flex;
}

.title {
  width: 80%;
}

.item-row {
  width: 100%;
  margin-bottom: 8px;
}

.title:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.btn {
  background: transparent;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-complete:hover {
  background-color: darkgreen;
}

.btn-delete:hover {
  background-color: darkred;
}

.btn-complete {
  background-color: green;
  color: white;
}

.btn-delete {
  background-color: red;
  color: white;
  margin-left: 4px;
}

.just-space-bet {
  justify-content: space-between;
}

.input {
  width: 75%;
}

.input input {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
}

ul {
  padding-left: 0;
}

li {
  width: 100%;
  list-style: none;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.todo-footer {
  padding: 5px;
}

.footer-btn {
  margin-right: 10px;
  padding: 8px 10px;
  border: 1px solid transparent;
}

.footer-btn:hover {
  border: 1px solid gray;
  border-radius: 3px;
}

.count:hover, .btn-clr:hover {
  border-color: transparent;
}